joblib
matplotlib
numpy
scikit_learn
scipy
torch
torchvision 
torchaudio
torchdata
torchmetrics
torchsummary 
datasets
transformers
tqdm
pandas
umap-learn
scipy
tensorflow
tf_keras 
keras
zat
IPython
seaborn
lightgbm
jsonlines
ipaddress
hydra-core
pytorch-lightning
matplotlib
ipykernel
jupyter-core
cloud-tpu-client
optuna
wandb
psutil
shap
xxhash